<div class="staticman-comments">
    <div class="form-container">
      <form>
        <p>
          <label for="name">Nombre</label>
          <input type="text" id="name" name="name" required>
        </p>
        <p>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>
        </p>
        <p>
          <label for="message">Mensaje</label>
          <textarea id="message" name="message" rows="5" required></textarea>
        </p>
        <p>
          <input type="submit" value="Enviar">
        </p>
        <div class="form-text">* Todos los campos son obligatorios.</div>
      </form>
    </div>
  </div>
  
  